@font-face{
font-family: myown;
src:url(Typographyties.ttf);
}

body{
//font-family:myown;
}
/* menu items preparation*/
.tab-menu ul{
padding:0;
margin:0;
position:relative;
}


.tab-menu > ul  >li {
 position:relative;

}

.tab-menu ul li{
list-style:none;
float:left;
padding:10px 15px;
background:#ccc;


}
.tab-menu ul li:hover{
background:black;
color:white;
}
.tab-menu ul li ul{
display:none; 
position:absolute;
left:0;
top:38px;
background:gray;


}
.tab-menu ul li> ul li{
 clear:both;
 width:100px;
}
.tab-menu ul li:hover ul{
display:block;
}






.side_titles{
   border-bottom:1px dotted #ccc !important;
   padding-bottom:5px ;
   margin:8px 0;
}

#conc{
  background : #DCDCDC;
  border:none;
}
*{
 /* color: red;*/
}
h3,div{
 color :green;
}

section h3:first-child{
background-color: red !important;
}

.radius{
width: 200px;
height:200px;
border:1px solid black;
float:left;
margin-right:10px;
/* background-image:url(C:/Users/Sanjay/Desktop/compass-128.png);
background-repeat:no-repeat;
background-position:left 10px;
box-shadow:10px 10px 4px #000; */

}
	 